{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{# Panel content #}

{% block panel_content %}
<div class="panel-body">
    <div>
        {{ project.lecturer }},
        {% trans "email" %}: <a href="mailto:{{ project.lecturer.user.email }}">{{ project.lecturer.user.email }}</a>
    </div>
    <div>
        <h4>{% trans "Description" %}</h4>
        {{ project.description|safe }}
    </div>

    {% if project.team_assigned == team %}
    <div>
        <h4>{% trans "Project files" %}:</h4>
        <table class="table table-hover" project_id = '{{ project.id }}'>
            {% for f in project.files %}
                <tr file_id = '{{ f.id }}'>
                    <td> {{ f.filename }} </td>
                    <td>
                        <span class="pull-right">
                            <button type="submit" title="{% trans "Download this file" %}" class="btn btn-primary" id='st_file_download_btn'>
                                {% trans "Download" %}
                            </button>
                        </span>
                    </td>
                    <td>
                        <span class="pull-right">
                            <button type="submit" title="{% trans "Remove this file" %}" class="btn btn-primary" id='file_delete_btn'>
                                {% trans "Remove" %}
                            </button>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    <h4>{% trans "Team assigned" %}:</h4>
    {% if project.team_assigned == None %}
        {% trans "None" %}
    {% else %}
    <ul>
        {% with members=project.team_assigned.team_members %}
            {% if members %}
                <li>
                {% for member in members %}
                        <a href="mailto:{{ member.user.email }}">{{ member }}</a>,
                {% endfor %}
                </li>
            {% else %}
                <br>
            {% endif %}
        {% endwith %}
    </ul>
    {% endif %}

    <h4>{% trans "Teams preferring this project" %}:</h4>
    {% if not project.teams_with_preference %}
        {% trans "None" %}
    {% else %}
    <ol>
        {% for team in project.teams_with_preference %}
            <li>
            {% for member in team.team_members %}
                <a href="mailto:{{ member.user.email }}">{{ member }}</a>,
            {% endfor %}
            </li>
        {% empty %}
            <br>
        {% endfor %}
    </ol>
    {% endif %}

</div>
{% endblock %}