{% extends "students/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{# Panel header #}

{% block panel_heading %}
<div class="row">
    <div class="col-sm-6 col-xs-6">
        <h3 class="panel-title" style="padding-top: 8px;">{% trans "Projects" %}</h3>
    </div>
    <div class="col-sm-6 col-xs-6">
        <span class="pull-right">
            <form id="searchForm" class="form-inline" role="search" method="get" action="{% url 'students:filtered_project_list' selectedCourse.code %}">
                <div class="input-group">
                    <input id="searchInput" type="text" name="title" class="form-control" placeholder="{% trans "Project title..." %}">
                    <div class="input-group-btn">
                    {% bootstrap_form filterForm %}
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </span>
    </div>
</div>
{% endblock %}

{# Panel content (non-bordered table within this block will have seamless design with the panel) #}

{% block panel_content %}
<form id='pick_project_form' class="form-m" action="{% url 'students:pick_project' %}" method="post">
    {% csrf_token %}
    <div id="tableContainer">
        {% include "students/project_table.html" %}
    </div>
</form>
{% include "students/project_pick_modal.html" %}
{% endblock %}}

{# Panel footer #}

{% block panel_footer %}
{% if not team.is_locked %}
    <button id="pickProjSubmitBtn" type="submit" class="btn btn-primary" form="pick_project_form" title="{% trans "Pick selected project." %}">
        {% trans "Pick" %}
    </button>
{% else %}
    <button type="submit" class="btn btn-primary disabled" title="{% trans "Cannot pick another project, beacause you are already assigned." %}">
        {% trans "Pick" %}
    </button>
{% endif %}
{% for lecturer, students, vacancies in lecturer_info %}
    <p class="pull-right panel-title panel-info-m">
        {{ lecturer }}: <b style="{% if students > vacancies%}color:red{% endif %}">{{ students }}/{{ vacancies }}</b>
    </p>
{% endfor %}
{% endblock %}

{% block additional_js %}
    <script src="{% static "js/searchfilter.js" %}"></script>
    <script src="{% static "js/pickprojectmodal.js" %}"></script>
{% endblock %}
