{% extends "students/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{# Panel header #}

{% block panel_heading %}
<div class="row">
    <div class="col-xs-6">
        <h3 class="panel-title panel-title-m">{% trans "Teams" %}</h3>
    </div>
</div>
{% endblock %}

{# Panel content (non-bordered table within this block will have seamless design with the panel) #}

{% block panel_content %}
<form id="join_team_form" class="form-m" action="{% url 'students:join_team' %}" method="post">
    {% csrf_token %}
    <table class="table table-hover">
        <tr>
            <th>{% trans "Join" %}</th>
            <th>{% trans "Team" %}</th>
            <th>{% trans "Assigned project" %}</th>
            <th>{% trans "Preferred project" %}</th>
        </tr>
        {% for team in teams %}
            <tr>
                <td>
                    {% if student_team == team %}
                        {% bootstrap_icon "user" %}
                    {% elif student_team.is_locked %}

                    {% elif not team.is_full and  not team.is_locked %}
                        <input type="radio" name="to_join" id="{{ team.pk }}"
                               value="{{ team.pk }}"/>
                    {% endif %}
                </td>
                <td>
                    {% for stud in team.team_members %}
                        <a href="mailto:{{ stud.user.email }}" class="tooltip-m"  data-html="true" data-toggle="tooltip" data-placement="right" title="<h5>{% trans "About me:"%}</h5>{{ stud.description }}">{{ stud }}</a><br>
                    {% endfor %}
                </td>
                <td>
                    {% with project_assigned=team.project_assigned %}
                        {% if project_assigned != None %}
                            <a href='{% url 'students:project' selectedCourse.code project_assigned.pk %}'> {{ project_assigned }} </a>
                        {% else %}
                            -
                        {% endif %}
                    {% endwith %}
                </td>
                <td>
                    {% with project_preference=team.project_preference %}
                        {% if project_preference != None %}
                            <a href='{% url 'students:project' selectedCourse.code project_preference.pk %}'> {{ project_preference }} </a>
                        {% else %}
                            -
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}

{# Panel footer #}

{% block panel_footer %}
{% if not student_team.is_locked %}
    <button type="submit" class="btn btn-primary" form="join_team_form" title="{% trans "Join selected team." %}">
        {% trans "Join" %}
    </button>
{% endif %}
{% if not student_team.is_locked  and student_team.project_preference is not None and student_team.student_set.count > 1 %}
    <button type="submit" class="btn btn-default" form="new_team_form" title="{% trans "Leave current team." %}">
        {% trans "Leave team" %}
    </button>
    <form id="new_team_form" action="{% url 'students:new_team' %}" method="post">
    {% csrf_token %}
    </form>
{% else %}
    <button type="submit" class="btn btn-default disabled">
        {% trans "Leave team" %}
    </button>
{% endif %}
{% endblock %}

{% block additional_js %}
    <script src="{% static "js/searchfilter.js" %}"></script>
    <script src="{% static "js/projectdropdown.js" %}"></script>
{% endblock %}
