{% extends basetemplate %}
{% load i18n %}
{% load bootstrap3 %}


{% block navbar_left %}
    {% if basetemplate == "users/base.html" %}
        {# overridde this block to prevent drawing login button #}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}


{% block content %}
{% include "users/messages.html" %}
<div class="panel panel-default">
    <div class="panel-heading ">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="panel-title" style="padding-top: 8px; padding-bottom: 8px;">{% trans "Select course" %}</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form method="post" action="{% url 'users:select_course' %}">
            {% csrf_token %}
            <h4>{% bootstrap_form form %}</h4>
        </form>
   </div>
</div>
{% endblock %}
