{% extends "common/base.html" %}
{% load i18n %}

{% block nav %}
    {{ block.super }}
{% endblock %}

{% block navbar_left %}
    <li>
        <a class="nav-link" href="{% url 'lecturers:profile' %}">{% trans "PROFILE" %}</a>
    </li>
    <li>
        <a class="nav-link" href="{% url 'lecturers:team_list' selectedCourse.code %}">{% trans "MY TEAMS" %}</a>
    </li>
    <li>
        <a class="nav-link" href="{% url 'lecturers:project_list' selectedCourse.code %}">{% trans "MY PROJECTS" %}</a>
    </li>
{% endblock %}
{% block navbar_right %}
    <li>
        <a class="nav-link" href="{% url 'common:select_course' %}">{% trans "Change course" %}</a>
    </li>
    {{ block.super }}
    <li>
        <a class="nav-link" href="{% url 'common:cas_ng_logout' %}">{% trans "Logout" %}</a>
    </li>
{% endblock %}

{% block course_label %}
    <span class="label label-default">{{selectedCourse}}</span>
{% endblock %}

{% block content %}
{% include "common/messages.html" %}

<div class="panel panel-default">
    <div class="panel-heading ">
    {% block panel_heading %}
    {% endblock %}
    </div>

    {% block panel_content %}
    {% endblock %}

    <div class="panel-footer">
    {% block panel_footer %}
    {% endblock %}
    </div>
</div>
{% endblock %}
