{% extends "lecturers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{# Panel header #}

{% block panel_heading %}
<div class="row">
    <div class="col-sm-8 col-xs-6">
        <h3 class="panel-title" style="padding-top: 8px;">{% trans "My Projects" %}</h3>
    </div>
    <div class="col-sm-4 col-xs-6">
        <span class="pull-right">
            <form role="search" method="get" action="{% url 'lecturers:filtered_project_list' selectedCourse.code %}">
                <div class="input-group">
                    <input type="text" name="title" class="form-control" placeholder={% trans "Project title..." %}>
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </span>
    </div>
</div>
{% endblock %}

{# Panel content (non-bordered table within this block will have seamless design with the panel) #}

{% block panel_content %}
<form id="delete_form" action="{% url 'lecturers:project_delete' %}" method="post">
    {% csrf_token %}
    <table class="table table-striped">
        <tr>
            <th>{% trans "Delete" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Has teams" %}</th>
            <th>{% trans "Status" %}</th>
        </tr>
        {% for project in projects %}
            <tr>
                <td>
                    {% if project.lecturer == user.lecturer and project.status == "free" %}
                        <input type="checkbox" name="to_delete" id="{{ project.pk }}"
                               value="{{ project.pk }}"/>
                    {% endif %}
                </td>
                <td><a href="{% url 'lecturers:project' selectedCourse.code project.pk %}">{{ project.title }}</a></td>
                <td>{% if project.teams_with_preference %} {% trans "yes" %} {% else %} {% trans "no" %} {% endif %}</td>
                <td>{% if project.status == "free" %} {% trans "free" %} {% else %} {% trans "occupied" %} {% endif %}</td>
            </tr>
        {% endfor %}
    </table>
</form>
<form id="assign_all_form" action="{% url 'lecturers:assign_teams_to_projects' selectedCourse.code %}" method="post">
    {% csrf_token %}
</form>
{% endblock %}

{# Panel footer #}

{% block panel_footer %}
    <button type="submit" class="btn btn-primary" form="delete_form">
        {% bootstrap_icon "remove" %} {% trans "Delete" %}
    </button>
    <button type="submit" class="btn btn-primary" form="assign_all_form">
        {% bootstrap_icon "pencil" %} {% trans "Assign teams" %}
    </button>
    <a href="{% url "lecturers:project_new" selectedCourse.code %}" class="btn btn-primary" role="button">
        {% bootstrap_icon "file" %} {% trans "New" %}
    </a>
{% endblock %}
