{% extends "lecturers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{# Panel header #}

{% block panel_heading %}
<div class="row">
    <div class="col-sm-6 col-xs-6">
        <h3 class="panel-title" style="padding-top: 8px;">{% trans "My Projects" %}</h3>
    </div>
    <div class="col-sm-6 col-xs-6">
        <span class="pull-right">
            <form id="searchForm" class="form-inline" role="search" method="get" action="{% url 'lecturers:filtered_project_list' selectedCourse.code %}">
                <div class="input-group">
                    <input id="searchInput" type="text" name="title" class="form-control" placeholder="{% trans "Project title..." %}">
                    <div class="input-group-btn">
                    {% bootstrap_form filterForm %}
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </span>
    </div>
</div>
{% endblock %}

{# Panel content (non-bordered table within this block will have seamless design with the panel) #}

{% block panel_content %}
<form id="manage_form" action="{% url 'lecturers:manage_projects' %}" method="post">
    {% csrf_token %}
    <div id="tableContainer">
    {% include "lecturers/project_table.html" %}
    </div>
</form>
<form id="assign_all_form" action="{% url 'lecturers:assign_teams_to_projects' selectedCourse.code %}" method="post">
    {% csrf_token %}
</form>
{% endblock %}

{# Panel footer #}

{% block panel_footer %}
    <button type="submit" name="delete" title="{% trans "Delete selected projects" %}" class="btn btn-default" form="manage_form">
        {% bootstrap_icon "remove" %} {% trans "Delete" %}
    </button>
    <a href="{% url "lecturers:project_new" selectedCourse.code %}" title="{% trans "Create new project" %}" class="btn btn-default" role="button">
        {% bootstrap_icon "file" %} {% trans "New" %}
    </a>
    <span class="pull-right">
        <a href="{% url 'lecturers:save_projects_to_file' selectedCourse.code %}" class="btn btn-default" role="button">
            {% bootstrap_icon "save" %} {% trans "Save projects to file" %}
        </a>
        <form style="display: inline-block" id="upload_form" action="{% url 'lecturers:load_projects_from_file' selectedCourse.code %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_file" class="btn btn-default">{% bootstrap_icon "send" %} {% trans "Upload project file" %}</label>
            {{ fileUploadForm.file }}
        </form>
        <button type="submit" title="{% trans "Automatically assign teams to projects" %}" class="btn btn-primary" form="assign_all_form">
        {% bootstrap_icon "pencil" %} {% trans "Auto assign" %}
        </button>
    </span>
{% endblock %}

{% block additional_js %}
    <script src="{% static "js/searchfilter.js" %}"></script>
{% endblock %}
