{% extends "lecturers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{# Panel header #}

{% block panel_heading %}
<div class="row">
    <div class="col-sm-1 col-xs-1">
        <a href="{% url 'lecturers:project_list' selectedCourse.code %}" title="{% trans "Back to project list" %}" class="btn btn-default">
            {% bootstrap_icon "chevron-left" %} {% trans "Back" %}
        </a>
    </div>
    <div class="col-sm-11 col-xs-11">
        <h3 class="panel-title" style="padding-top: 8px; padding-bottom: 8px;">{% trans "Modify project" %}</h3>
    </div>
</div>
{% endblock %}


{# Panel content #}

{% block panel_content %}
<div class="panel-body">
    <form id="project_modify_form" method="post" action="{% url 'lecturers:modify_project' selectedCourse.code project.pk %}">
        {% csrf_token %}
        {% bootstrap_form form layout="vertical" %}
    </form>
    {{ form.media }}
</div>
{% endblock %}

{# Panel footer #}

{% block panel_footer %}
<button type="submit" title="{% trans "Confirm changes" %}" class="btn btn-primary" form="project_modify_form">
    {% trans "Submit" %}
</button>
<button type="reset" title="{% trans "Reset form" %}" class="btn btn-default" form="project_modify_form">
    {% trans "Reset" %}
</button>
{% endblock %}
