{% extends "lecturers/base.html" %}
{% load i18n %}
{% block content %}
    {% include "common/messages.html" %}
    <h2>{% trans "New project" %}</h2>
    {% load bootstrap3 %}
    <form id="project_form" action="{% url 'lecturers:project_new' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <a href="{% url "lecturers:project_list" %}" class="btn btn-primary" role="button">
            {% trans "Back to project list" %}
        </a>
        <button type="submit" class="btn btn-primary">
            {% trans "Submit" %}
        </button>
    </form>
{% endblock %}


