{% extends "lecturers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
{% include "common/messages.html" %}

<div class="panel-group">

{# First panel - my teams #}

<div class="panel panel-default">
{# Panel header #}
    <div class="panel-heading ">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h3 class="panel-title" style="padding-top: 8px; padding-bottom: 8px;">{% trans "My teams" %}</h3>
            </div>
        </div>
    </div>

{# Panel content (non-bordered table within this block will have seamless design with the panel) #}

    {# Form is the same fo two panels, so panel ending tag is located under second table #}
    <form id="team_delete_form" action="{% url 'lecturers:team_delete' %}" method="post">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <th class="col-sm-0">{% bootstrap_icon "ok" %}</th>
                <th class="col-sm-2">{% trans "Members" %}</th>
                <th class="col-md-4">{% trans "Project preference" %}</th>
                <th class="col-md-4">{% trans "Assigned project" %}</th>
                <th class="col-md-1">{% trans "Assigned" %}</th>
                <th class="col-md-1"></th>
            </thead>
            {% for team in teams %}
                <tr>
                    <td>
                        <input type="checkbox" name="to_delete" id="{{ team.pk }}"
                                value="{{ team.pk }}"/>
                    </td>
                    <td>
                        {% for stud in team.team_members %}
                            <a href="mailto:{{ stud.user.email }}">{{ stud }}</a><br>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'lecturers:project' selectedCourse.code team.project_preference.pk %}">
                        {{ team.project_preference.title }}</a>
                    </td>
                    <td>
                        {% if team.project_assigned %}
                            <a href="{% url 'lecturers:project' selectedCourse.code team.project_assigned.pk %}">
                            {{ team.project_assigned.title }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if team.is_locked %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %}
                    </td>
                    <td>
                        <span class="pull-right">
                            <a href="{% url 'lecturers:modify_team' selectedCourse.code team.pk %}" title="{% trans "Edit this team" %}" class="btn btn-default">
                                {% bootstrap_icon "edit" %} {% trans "Edit" %}
                            </a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
</div> {# First panel end #}

{# Second panel - teams without project preference #}

<div class="panel panel-default">
    <div class="panel-heading ">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h3 class="panel-title" style="padding-top: 8px; padding-bottom: 8px;">{% trans "Teams without project preference" %}</h3>
            </div>
        </div>
    </div>

        <table class="table table-hover">
            <thead>
                <th class="col-sm-0">{% bootstrap_icon "ok" %}</th>
                <th class="col-sm-2">{% trans "Members" %}</th>
                <th class="col-md-4">{% trans "Project preference" %}</th>
                <th class="col-md-4">{% trans "Assigned project" %}</th>
                <th class="col-md-1">{% trans "Assigned" %}</th>
                <th class="col-md-1"></th>
            </thead>
            {% for team in teams_with_no_project %}
                <tr>
                    <td>
                        <input type="checkbox" name="to_delete" id="{{ team.pk }}"
                                value="{{ team.pk }}"/>
                    </td>
                    <td>
                        {% for stud in team.team_members %}
                            <a href="mailto:{{ stud.user.email }}">{{ stud }}</a><br>
                        {% endfor %}
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        <span class="pull-right">
                            <a href="{% url 'lecturers:modify_team' selectedCourse.code team.pk %}" title="{% trans "Edit this team" %}" class="btn btn-default">
                                {% bootstrap_icon "edit" %} {% trans "Edit" %}
                            </a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
    {# Second Panel footer #}
    <div class="panel-footer">
        <button type="submit" title="{% trans "Delete selected teams" %}" class="btn btn-default" form="team_delete_form" onclick="delBtnClicked(event)">
        {% bootstrap_icon "remove" %} {% trans "Delete" %}
        </button>
        <a href="{% url "lecturers:team_new" selectedCourse.code %}" title="{% trans "Create new team" %}" class="btn btn-default" role="button">
            {% bootstrap_icon "plus" %} {% trans "New" %}
        </a>
        <span class="pull-right">
            <a href="{% url 'lecturers:export_teams' selectedCourse.code %}" title="{% trans "Export team list to csv file" %}" class="btn btn-default">
                {% trans "Export to CSV" %}
            </a>
        </span>
    </div>
</div> {# Second panel end #}

</div> {# Panel group end #}
<script>
function delBtnClicked(e)
{
    var isAnyChecked =  $('input:checkbox').is(':checked');
    if(isAnyChecked) {
        if(!confirm("{% trans "Are you sure?" %}"))e.preventDefault();
    }
}
</script>
{% endblock %}




