{% extends "base.html" %}
{% load i18n %}
{% block nav %}
    <nav class="navbar navbar-inverse" role="navigation">
        <span class="navbar-brand">{% trans "Project Helper" %}</span>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="navbar-left">
                    <a class="nav-link" href="{% url 'common:cas_ng_login' %}">{% trans "LOGIN / REGISTER" %}</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}
